body{
    background-image: url('../img/ac.jpg');
}
/* div{
    text-align: center;
    width: 150px;
    height: 150px;
} */
.caja{
    width: 200px;
    height: 200px;
    border: black 2px solid;
    margin: 20px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modA{
    background-image: url(../img/back_mantel.jpg);
}
.modB{
    background-image: url(../img/back_mantel.jpg);
    background-clip: content-box;
    width: 160px;
    height: 160px;
    padding: 20px;
}
.modC{
    background-image: url(../img/back_mantel.jpg);
    background-size: 100%  100%;
}
.modD{
    background-image: url(../img/back_mantel.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}
.modE{
    background-image: url(../img/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.modF{
    background-image: url(../img/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}
.modG{
    background-image: url(../img/dh_2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.modH{
    background-image: url(../img/dh_3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.modI{
    background: linear-gradient(to right, #d2ff52 0%, #566647 100%);
}
.modJ{
    background: linear-gradient(to bottom, rgba(240,183,161,1) 0%,
    rgba(140,51,16,1) 80%,rgba(117,34,1,1)51%, rgba(191,110,78,1) 100%);
}
.modK{
    background: linear-gradient(to top, rgba(50, 116, 45, 1) 0%,
    rgba(239, 239, 210, 1) 100%);
}
.modL{
    background: linear-gradient(to top, rgba(50,116,45,1) 0%, rgba(50,116,45,0) 100%);
}