body{
    /* width: 100vw;
    height: 100vh; */
}
#pinguin{
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1000px;
    height: 750px;
    background-image: url(../img/pinguinos.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
#pinguin table{
    margin-top:250px;
    width: 80%;
    height: 20px;
    border: black 1px solid;
    background-color: #dee4c0;
    border: 2px inset;
    box-shadow: rgba(0, 0, 0, 1) 2px 2px 0px 1px;
}
th, td{
    border:  2px inset;
}
th{
    background-color: #fdfeff;
}
td{
    background-color: #feff97;
}